[server]
	[[restful]]
		listen = :8080
		query-limit = 1M # 0 - unlimit, default 1048576
		header-limit = 4K # 0 - unlimit, default 8192
		receive-timeout = 3s # chunk receive timeout in sec
		keep-alive = 10s # connection keep alive

	[[websocket]]
		listen = :8081
		query-limit = 1M # 0 - unlimit

	[[sapi]]
		sapi-pipe = "unix:///tmp/navekfiber-fpm"
		sapi-engines = python,php

	[[threadpool]]
		thread-workers = 10
		core-bind = 2-12
		core-exclude = 3,4

[fpm]
	[[python]]
		fpm-sapi-pipe = "unix:///tmp/navekfiber-fpm"
		fpm-num-workers = 10 
		fpm-enable-resurrect = 1 # always support workers pool
		fpm-params-transfer = stdin #, env
		fpm-ini-config = 

	[[php]]
		fpm-sapi-pipe = "unix:///tmp/navekfiber-fpm"
		fpm-num-workers = 10 
		fpm-enable-resurrect = 1 # always support workers pool
		fpm-params-transfer = stdin #, env
		fpm-ini-config = 

[channels]
	[[sample-python]]
		channel-endpoint = async://sample-python/task1/	# sync, async,simple,mq
		channel-mq-mode = round-robin # round-robin, broadcast, subscribers default delivery method
		channel-mq-subscribers-limit = 0 # limit number of subscribers 
		channel-mq-confirm-attempts = 10 # number of attempts to confirm `required confirm` producer messages
		channel-mq-confirm-timeout = 10s # timeout after confirm attempt
		channel-durability = none						#,transaction, persistent
		channel-limit-capacity = 0						# 0 - unlimited, count of messages in queue
		channel-sapi = python://home/irokez/projects/NavekFiber/fiber-sapi-py/sample-python-test.py	# php:// python:// lua:// | mysql:// pgsql:// json:// http:// ws://
		channel-sapi-task-limit = 0						# number of parallel execution tasks, 0 - unlimited
		channel-sapi-request-limit = 0					# timeout before next request execution
